HbWidget {
    margin-left: 0un;
    margin-top: 0un;
}

UniViewerDetailsWidget {
    layout:layout-default;
}

UniViewerDetailsWidget::subjectLabel {
    top:-var(hb-param-margin-gene-top);
    left:-var(hb-param-margin-gene-left);
    right:0.5un;
    text-height:var(hb-param-text-height-primary);
    text-line-count-min:1;
    text-line-count-max:10;
    text-align: left;
    font-variant: primary;
}

UniViewerDetailsWidget::timeLabel {
   top:-var(hb-param-margin-gene-middle-vertical);
   left:-var(hb-param-margin-gene-left);
   right:var(hb-param-margin-gene-right);
   bottom:var(hb-param-margin-gene-bottom);
   text-height:var(hb-param-text-height-secondary);
   text-line-count-min:1;
   text-line-count-max:1;
   text-align: left;
   font-variant: primary;
 }

UniViewerDetailsWidget::priorityIcon {
  right:var(hb-param-margin-gene-right);
  center-vertical:0.0un;
  aspect-ratio:ignore;
  size-policy:fixed fixed;
  pref-width:var(hb-param-graphic-size-secondary);
  pref-height:var(hb-param-graphic-size-secondary);
}

