HbWidget {
    margin-left: 0un;
    margin-top: 0un;
}

UniViewerBodyWidget:portrait {
  layout: layout-portrait;
}

UniViewerBodyWidget:landscape[hasText="true"] {
  layout: layout-landscape;
}

UniViewerBodyWidget:landscape[hasText="false"] {
  layout: layout-landscape-no-text;
}

UniViewerBodyWidget::pixmap:portrait {
    top:-var(hb-param-margin-gene-top);
    left:-var(hb-param-margin-gene-left);
    right:var(hb-param-margin-gene-right);
    size-policy-vertical:fixed;
    size-policy-horizontal:ignored;
    pref-width:-1;
}

UniViewerBodyWidget::textItem:portrait {
   top:-var(hb-param-margin-gene-bottom);
   left:-var(hb-param-margin-gene-left);
   right:var(hb-param-margin-gene-right);
   text-height:var(hb-param-text-height-secondary);
   text-line-count-min:1;
   text-line-count-max:100;
   text-align: left top;
   font-variant:primary;
   size-policy-vertical:minimum-expanding;
   pref-height:-1;
}

UniViewerBodyWidget::pixmap[hasText="true"]:landscape {
    top:-var(hb-param-margin-gene-top);
    left:-var(hb-param-margin-gene-left);
    size-policy-horizontal:fixed;
    pref-height:-1;
    size-policy-vertical:ignored;
}

UniViewerBodyWidget::textItem:landscape {
   top:-var(hb-param-margin-gene-top);
   left:-2.0un;
   right:var(hb-param-margin-gene-right);
   text-height:var(hb-param-text-height-secondary);
   text-line-count-min:1;
   text-line-count-max:100;
   text-align: left top;
   font-variant:primary;
   size-policy-vertical:minimum-expanding;
   pref-height:-1;
}

UniViewerBodyWidget::pixmap[hasText="false"]:landscape {
    top:-var(hb-param-margin-gene-top);
    left:-var(hb-param-margin-gene-left);
    right:var(hb-param-margin-gene-right);
    bottom:var(hb-param-margin-gene-bottom);
    size-policy-horizontal:ignored;
    pref-width:-1;
    size-policy-vertical:fixed;
}

